/* Custom font*/
body
{
    font-family: 'Ubuntu', sans-serif;
}

/* Size for brand */

nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */

.nor-color
{
    color: #053B50;
}

.easter-color
{
    color: #176B87;
}


/*Login and register pages*/

.info-submit-box
{
    width: 300px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

#skiing-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.block {
    max-width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/*Custom index cards*/

.card-img-custom
{
    height: 350px;
    object-fit: cover;
}
.custom-card
{
    height: 525px;
    margin-top: 25px;
    width: 20rem;
}

/*Index page*/
.index-container
{
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
}

.image-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

#skiing-image
{
    width: 100%;
    height: 550px;
    pointer-events: None;
}

.index-filler-text
{
    margin-bottom: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.index-search
{
    width: 70%;
}

.map-image
{
    scale: 90%;
}

h2
{
    color: #427D9D;
    font-size: 45px;
}

h3
{
    color: #427D9D;
}

h4
{
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome-text
{
    color: #427D9D;
}

/*Sidebar for advanced search filters*/

.sidenav {
    width: 350px;
    position: relative;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }

/*Main content for search page*/

.search-page-bar
{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}
.search-content
{
    flex: 1;
    padding: 20px;
}
.content-container
{
    display: flex;
}

.search-box
{
    border: 2px solid gray;
    padding: 2px;
    margin: 5px;
}
.mountain-stats
{
    text-align: left;
    width: 100%;
}

.search-mountain
{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: #164863;
}


/*Checklist styling*/
.form-check-comment
{
    display: flex;
    align-items: center;
}

.form-check-comment input
{
    margin-right: 8px; /* Adjust the margin as needed */
}


/* Map API */

#map
{
    height: 800px;
    width: 80%;
    margin: 0 auto;
}

.map-title
{
    margin-bottom: 30px;
    font-size: 80px;
    color: #427D9D;
}

