{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="index-container">
        <img src="https://www.micaheli.com/sites/default/files/styles/image_lg/public/images/ZL_20200318-336%20%283%29_0.jpg?itok=Dg2WiJvI" id="skiing-image" alt="skiing-image">
        <div class="image-text">
            <h1 style="font-size: 64px">Who said the East Coast wasn't skiiable?</h1>
            <p style="font-size: 20px"><strong>Search and learn about all the different places you can ski in New England. And to top it off, try to ski it all!</strong></p>
        </div>
    </div>
    <h2>Who are we?</h2>
    <div class="index-filler-text">
        <p>Nor'Easter is a website designed to help East Coast skiiers find proper ski resorts and help them set foot towards new mountains and adventures! The website provides resort querying features such as a map with many popular ski resorts in the New England area, and a search page to help filter resorts based on your preferences.</p>
        <p>And to help keep track of all the skiing resorts in mind, Nor'Easter has implemented a checklist which allows users to save certain mountains to their personalized checklist and then mark off whether or not they've gone to ski the resort.</p>
    </div>
    <h2>Have a specific mountain in mind? Search it here:</h2>
    <form class="navbar-form navbar-left" action="/search" method="post">
      <input autocomplete="off" type="text" class="form-control col-lg-8 d-inline-block index-search" id="resort-search" name="resort-search" placeholder="Search for Resort">
    </form>
    <!--Clickable cards-->
    <ul style="list-style: none">
        <li style="display: inline-block; margin-right: 10px">
            <div class="card custom-card">
                <img src="https://static.vecteezy.com/system/resources/previews/021/730/620/non_2x/treasure-map-icon-vector.jpg" class="card-img-top card-img-custom map-image" alt="Map of New England">
                <div class="card-body">
                    <h5 class="card-title">Skiing Map</h5>
                    <p class="card-text">Map of New England with its ski resorts</p>
                    <a href="/map" class="btn btn-primary stretched-link">Map</a>
                </div>
            </div>
        </li>
        <li style="display: inline-block; margin-right: 10px">
            <div class="card custom-card">
                <img src="https://i.fbcd.co/products/resized/resized-750-500/l004e-17-e03-mainpreview-f3bd24648e8b9810ebe94edb299771121e9257ed8614ba2cb20671fe44970129.jpg" class="card-img-top card-img-custom map-image" alt="Magnifying Glass">
                <div class="card-body">
                    <h5 class="card-title">Advanced Search</h5>
                    <p class="card-text">Search for ski resorts with certain filters to look for your specific needs</p>
                    <a href="/search" class="btn btn-primary stretched-link">Search</a>
                </div>
            </div>
        </li>
        <li style="display: inline-block; margin-right: 10px">
            <div class="card custom-card">
                <img src="https://www.creativefabrica.com/wp-content/uploads/2021/06/23/Checklist-Icon-Template-Design-Vector-Graphics-13750844-1-1-580x387.jpg" class="card-img-top card-img-custom map-image" alt="Checklist">
                <div class="card-body">
                    <h5 class="card-title">Checklist</h5>
                    <p class="card-text">Go to your checklist</p>
                    <a href="/checklist" class="btn btn-primary stretched-link">Checklist</a>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}
