{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="info-content">
        <img src="{{ url_for('static', filename='images/janmsp.png') }}" id="skiing-background" alt="skiing-background">
        <div class="info-container">
            <h4 class= "block-title">
                <span class="nor-color">Nor'</span><span class="easter-color"> Easter</span>
            </h4>
            <div>
                <form action="/register" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto info-submit-box" id="username" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto info-submit-box" id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto info-submit-box" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
                {% if error_message %}
                    <p>{{error_message}}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
